.footer {
  background-color: #222; /* Ya está en globals.css */
  color: white; /* Ya está en globals.css */
  padding: 20px 0; /* Ya está en globals.css */
  text-align: center; /* Ya está en globals.css */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #64c84d; /* Color verde del navbar */
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 0.9rem;
}
